[Unit]
Description=Starts AWWW for Hyprland
# PartOf ensures that if the graphical session dies, swww dies with it
PartOf=graphical-session.target
After=graphical-session.target

[Service]
Environment=RUST_BACKTRACE=1
# We need to check thay wayland is running
ExecStartPre=/usr/bin/bash -c 'until [ -n "$WAYLAND_DISPLAY" ]; do sleep 0.1; done'
ExecStart=/usr/bin/awww-daemon -f argb
Restart=on-failure
RestartSec=5

[Install]
# Standard target for user-level graphical services
WantedBy=graphical-session.target
